body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #0d0d0d;
    color: #eaeaea;
}

header {
    background: linear-gradient(180deg, #1b1b1b, #000);
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    color: #c2a14d;
    font-size: 36px;
}

header p {
    font-style: italic;
    color: #aaa;
}

section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #c2a14d;
    margin-bottom: 20px;
}

.trabalhos ul {
    list-style: none;
    padding: 0;
}

.trabalhos li {
    margin: 10px 0;
    font-size: 18px;
}

.contato {
    text-align: center;
}

.botao {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #c2a14d;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.botao:hover {
    background-color: #a8873d;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}
nav {
    background-color: #000;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #c2a14d;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
